body {
    color: black;
    background: white;
    font-family: serif;
}
body.dark {
    color: white;
    background: #101010;
}
img {
    width: 300px;
}
img .dark {
    width: 10px;
}
span label {
    display: inline-block;
}
.indent {
    margin-left: 2em;
}
section {
    display: inline-block;
}
#controls {
    font-family: monospace;
    float: left;
    margin-right: .5em;
    border: 1px solid black;
    padding: .5em;
}
#controls.dark {
    border: 1px solid white;
}

